.content{
  text-align: center;
  border-radius: 16px;
  padding: 8px;
}

.button{
  /* twitter logo color  #1DA1F2 */
  --background: #1DA1F2;
  display: inline-block;
  width: 100%;
}

.button-logo{
  margin-right: 8px;
}

ion-img{
  object-fit: contain;
  width: 100%;
  height: 160px;
  margin-bottom: 16px;
}

