.item{
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
}

ion-img{
  object-fit: cover;
  width: 100vmin;
  height: 100vmin;
}


.fab-buttons{
  position: absolute;
  bottom: 8px;
  right: 8px;
}

ion-fab-button{
  display: inline-block;
  margin-right: 4px;
}

.twitter-color{
  --background: var(--ion-color-twitter);
}

