<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="familyId" placeholder="familyId"></ion-input>
  <ion-input [(ngModel)]="twitterId" placeholder="twitterId"></ion-input>
  <ion-button (click)="createFamilyRoom()">作成する</ion-button>
  <ion-button (click)="toSignIn()">signin</ion-button>
  <h1>debug</h1>
  <ion-button (click)="enterFamilyRoom()">入室するok</ion-button>
  <ion-button (click)="updateStock()">ストック作成400</ion-button>
  <ion-button (click)="getStock()">ストック閲覧ok</ion-button>
  <ion-button (click)="deleteStock()">ストック削除</ion-button>
  <ion-button (click)="showUsers()">設定一覧ok</ion-button>
  <ion-button (click)="updateUser()">設定更新400</ion-button>
  <ion-button (click)="getFavorites()">いいね一覧ok</ion-button>

</ion-content>
